In [1]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="ramya2003"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7feafc72bdc0>

In [4]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

In [5]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('Authorized_user',)
('R180503',)
('SEPROJECT',)
('WEBTECH',)
('example',)
('harika',)
('jashu',)
('mysql',)
('performance_schema',)
('project',)
('ramya',)
('se',)
('sys',)

In [6]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="ramya2003",
database="Authorized_user"
)
mycursor=mydb.cursor()
mycursor.execute("Create table my_table(id int primary key,Name varchar(50),Age int,Address varchar(50))")

In [7]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)